

<div class="container" >
    <p>lISTA DE EQUIPOS!</p>

    <button routerLink="/add" type="button" class="btn btn-dark">Agregar </button>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Logo</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of ListarEquipo">
            <th>{{equipo.id_equipo}}</th>
            <td>{{equipo.nombre}}</td>
            <td><img src="{{equipo.logo}}" alt="" width="50" height="50"> </td>
            <td>
                <button (click)="modificar(equipo.id_equipo)" type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button (click)="eliminar(equipo.id_equipo)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

</div>
